fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic==1.18.4

pydantic
python-dotenv
 
asyncpg
psycopg
aiofiles
jinja2
python-jose[cryptography]==3.3.0
# cache bust Sun Apr 26 05:44:39 PM UTC 2026
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
